<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <style>
        body {
            background: rgb(209, 204, 204);
        }

        .form-control:focus {
            box-shadow: none;
            border-color: blue;
        }

        .profile-button {
            background: blue;
            box-shadow: none;
            border: none;
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: blue;
            color: #fff;
            cursor: pointer;
        }
    </style>
    <script>
        function edit_profile() {
            let fname = $("#input-fname").val();
            let lname = $("#input-lname").val();
            let mobile_number = $("#input-mobilenumber").val();
            let country = $("#input-country").val();
            let state_region = $("#input-stateregion").val();
            let age = $("#input-age").val();
            let additional_details = $("#input-additionaldetails").val();
            let form_data = new FormData();
            let file = $("#input-pic")[0].files[0];
            form_data.append("file_give", file);
            form_data.append("fname_give", fname);
            form_data.append("lname_give", lname);
            form_data.append("mobilenumber_give", mobile_number);
            form_data.append("country_give", country);
            form_data.append("stateregion_give", state_region);
            form_data.append("age_give", age);
            form_data.append("additionaldetails_give", additional_details);
            $.ajax({
                type: "POST",
                url: "/update_profile",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response["result"] === "success") {
                        alert(response["msg"]);
                        window.location.href = "/info-patient/{{ user_info.email }}";
                    }
                }
            })

        }
    </script>
</head>

<body>
    <header class="p-3" style="background-color: #0d47a1;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="35" role="img" aria-label="logo">
                        <image width="35" href="{{ url_for('static', filename='img/logo.png') }}"></image>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link fw-bold text-warning px-1">SIDOMU</a></li>
                    <li><a href="/home-patient" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/hospitals" class="nav-link px-2 text-white">Appointment</a></li>
                    <li><a href="/blog" class="nav-link px-2 text-white">My List</a></li>
                    <li><a href="/doctor" class="nav-link px-2 text-white">Doctors</a></li>
                    <li><a href="/blog" class="nav-link px-2 text-white">Blog</a></li>
                    <li><a href="/about" class="nav-link px-2 text-white">User Settings</a></li>
                </ul>

                <div class="text-end">
                    <a href="/info-patient/{{ user_info.email }}" class="nav-link px-2 text-white">
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="profilepic"
                            width="32" height="32" class="rounded-circle">
                        {{ user_info.first_name }} {{ user_info.last_name }}
                    </a>
                </div>
            </div>
        </div>
    </header>
    <header class="py-5 inner-header" style="background-color: #0d47a1;">
        <div class="container py-4 px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="fw-bold text-white">User Edit</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Fill with your legit data</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px" src="{{ url_for('static', filename=user_info.profile_pic_real) }}"><span
                        class="font-weight-bold">{{ user_info.first_name }} {{ user_info.last_name }}</span><span
                        class="text-black-50">{{ user_info.email }}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input id="input-fname"
                                type="text" class="form-control" placeholder="first name"
                                value="{{ user_info.first_name }}"></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input id="input-lname" type="text"
                                class="form-control" value="{{ user_info.last_name }}" placeholder="last name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input id="input-mobilenumber"
                                type="number" class="form-control" placeholder="enter phone number"
                                value="{{ user_info.mobile_number }}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input id="input-country" type="text"
                                class="form-control" placeholder="country" value="{{ user_info.country }}"></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input id="input-stateregion"
                                type="text" class="form-control" value="{{ user_info.state_region }}"
                                placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button"
                            onclick="edit_profile()">Save
                            Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Edit Picture</label>
                        <input class="form-control" type="file" id="input-pic">
                    </div>
                    <div class="col-md-12"><label class="labels">Age</label><input id="input-age" type="number"
                            class="form-control" placeholder="how old are you?" value="{{ user_info.age }}"></div> <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label> <textarea
                            class="form-control" id="input-additionaldetails"
                            rows="3">{{ user_info.additional_details }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="bg-dark py-4 mt-auto copyright-footer">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright © <span class="fw-bold text-warning">SIDOMU</span> 2023
                    </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#">Home</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/appointment">Appointment</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/doctor">My List</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/doctor">Doctors</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/blog">Blog</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/about">User Settings</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>