<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <style>
        .input-group-append {
            cursor: pointer;
        }

        body {
            background: rgb(209, 204, 204);
        }
    </style>
    <script>
        $(document).ready(function () {
            get_app("{{ user_info.email }}");
        })

        function get_app(email) {
            if (email === undefined) {
                email = ""
            }
            $("#app-box").empty();
            $.ajax({
                type : "GET",
                url : `get_app_patient?email_give=${email}`,
                data : {},
                success : function(response){
                    if (response["result"] === "success") {
                        let apps = response["apps"];
                        for (let i = 0; i<apps.length; i++){
                            let fname = apps[i]["appointment_firstName"];
                            let lname = apps[i]["appointment_lastName"];
                            let phone = apps[i]["appointment_phoneNumber"];
                            let doctor = apps[i]["appointment_doctor"];
                            let email = apps[i]["appointment_email"];
                            let message = apps[i]["appointment_message"];
                            let status = apps[i]["appointment_status"];
                            let doc_message = apps[i]["appointment_docmessage"];
                            let date = apps[i]["appointment_date"];
                            let time1 = apps[i]["appointment_timeStart"];
                            let time2 = apps[i]["appointment_timeEnd"];
                            let fname_patient = apps[i]["patient_firstName"];
                            let lname_patient = apps[i]["patient_lastName"];
                            let country_patient = apps[i]["patient_country"];
                            let stateRegion_patient = apps[i]["patient_stateRegion"];
                            let pfp = apps[i]["patient_pfp"];
                            let html_temp = "";
                            if (status == 0){
                                html_temp = `<div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="image d-flex mb-3 align-items-center">
                                <img class="rounded-circle" style="width:64px; height:64px;" src="static/${pfp}" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">${fname_patient} ${lname_patient}</h5>
                                    <p class="fw-light mb-0 text-muted small">Jakarta, indonesia</p>
                                </div>
                            </div>
                            <h6 class="fw-bold mb-1">Form Detail<i class="small text-primary"></i></h6>
                            <p class="text-muted fw-light mb-2">Name : ${fname} ${lname}</p>
                            <p class="text-muted fw-light mb-2">Phone Number : ${phone}</p>
                            <p class="text-muted fw-light mb-2">Doctor : ${doctor}</p>
                            <p class="text-muted fw-light mb-2">Email : ${email}</p>
                            <p class="text-muted fw-light mb-3">Message : ${message}</p>
                            <!-- button accept modal -->
                            <a class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#acceptModal">Accept</a>
                            <!-- accept modal -->
                            <div class="modal fade" id="acceptModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Details For
                                                Patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea" placeholder="Type your message here!"></textarea>                                                    
                                                </div>
                                                <div class="modal-body">
                                                    <h6 align="center" class="mb-3">Choose Your Appointment Date & Time</h6>
                                                    <div class="container">
                                                        <div class="row g-3">
                                                            <div align="center" class="col-12">
                                                                <input type="date" name="date">
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>Start</h6><input type="time" class="form-control"/>
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>End</h6><input type="time" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal button decline -->
                            <a href="/doctor-item" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#declineModal">Decline</a>
                            <!-- modal decline -->
                            <div class="modal fade" id="declineModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Message for
                                                patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="fw-bold mt-3">Status : Pending ⌛</h6>
                            <p class="text-muted fw-light mb-2">(Please respond this appointment as soon as possible!)</p>                        
                        </div>
                    </div>
                </div>`;
                            } else if(status == 1){
                                html_temp = `<div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="image d-flex mb-3 align-items-center">
                                <img class="rounded-circle" style="width:64px; height:64px;" src="static/img/d3.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Rizki Kandias</h5>
                                    <p class="fw-light mb-0 text-muted small">Jakarta, indonesia</p>
                                </div>
                            </div>
                            <h6 class="fw-bold mb-1">Form Detail<i class="small text-primary"></i></h6>
                            <p class="text-muted fw-light mb-2">Name : Muhammad Kandias</p>
                            <p class="text-muted fw-light mb-2">Phone Number : 089639640252</p>
                            <p class="text-muted fw-light mb-2">Doctor : Dr.Bintang Duinata</p>
                            <p class="text-muted fw-light mb-2">Email : bintang.duinata31@gmail.com</p>
                            <p class="text-muted fw-light mb-3">Message : I got great headache and the pain getting
                                worse within 1 week</p>
                            <!-- button accept modal -->
                            <a class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#acceptModal">Accept</a>
                            <!-- accept modal -->
                            <div class="modal fade" id="acceptModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Details For
                                                Patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea" placeholder="Type your message here!"></textarea>                                                    
                                                </div>
                                                <div class="modal-body">
                                                    <h6 align="center" class="mb-3">Choose Your Appointment Date & Time</h6>
                                                    <div class="container">
                                                        <div class="row g-3">
                                                            <div align="center" class="col-12">
                                                                <input type="date" name="date">
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>Start</h6><input type="time" class="form-control"/>
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>End</h6><input type="time" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal button decline -->
                            <a href="/doctor-item" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#declineModal">Decline</a>
                            <!-- modal decline -->
                            <div class="modal fade" id="declineModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Message for
                                                patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="fw-bold mt-3">Status : Accepted ✔️</h6>
                            <p class="text-muted fw-light mb-2">(Message: ${doc_message}, Date : ${date}, Time : ${time1} - ${time2})</p>
                        </div>
                    </div>
                </div>`;
                            }else{
                                html_temp = `<div class="col-lg-4">
                    <div class="position-relative mb-5">
                        <div class="bg-white shadow-sm p-4 rounded-3">
                            <div class="image d-flex mb-3 align-items-center">
                                <img class="rounded-circle" style="width:64px; height:64px;" src="static/img/d3.png" alt="...">
                                <div class="ms-3">
                                    <h5 class="fw-bold mb-1">Rizki Kandias</h5>
                                    <p class="fw-light mb-0 text-muted small">Jakarta, indonesia</p>
                                </div>
                            </div>
                            <h6 class="fw-bold mb-1">Form Detail<i class="small text-primary"></i></h6>
                            <p class="text-muted fw-light mb-2">Name : Muhammad Kandias</p>
                            <p class="text-muted fw-light mb-2">Phone Number : 089639640252</p>
                            <p class="text-muted fw-light mb-2">Doctor : Dr.Bintang Duinata</p>
                            <p class="text-muted fw-light mb-2">Email : bintang.duinata31@gmail.com</p>
                            <p class="text-muted fw-light mb-3">Message : I got great headache and the pain getting
                                worse within 1 week</p>
                            <!-- button accept modal -->
                            <a class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#acceptModal">Accept</a>
                            <!-- accept modal -->
                            <div class="modal fade" id="acceptModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Details For
                                                Patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea" placeholder="Type your message here!"></textarea>                                                    
                                                </div>
                                                <div class="modal-body">
                                                    <h6 align="center" class="mb-3">Choose Your Appointment Date & Time</h6>
                                                    <div class="container">
                                                        <div class="row g-3">
                                                            <div align="center" class="col-12">
                                                                <input type="date" name="date">
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>Start</h6><input type="time" class="form-control"/>
                                                            </div>
                                                            <div class="col-6">
                                                               <h6>End</h6><input type="time" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal button decline -->
                            <a href="/doctor-item" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#declineModal">Decline</a>
                            <!-- modal decline -->
                            <div class="modal fade" id="declineModal" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title col-9 fs-5" id="staticBackdropLabel">Message for
                                                patient</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="input-group">
                                                    <textarea class="form-control"
                                                        aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="/login"><button type="button"
                                                    class="btn btn-primary"><i></i>Confirm</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="fw-bold mt-3">Status : Declined ❌</h6>
                            <p class="text-muted fw-light mb-2">(Message : ${doc_message})</p>
                        </div>
                    </div>
                </div>`;
                            }
                            $("#app-box").append(html_temp);
                        }
                    }
                }
            })
        }

        function acc_app(){

        }

        function cancel_app(){
            
        }

    </script>
</head>

<body>
    <header class="p-3" style="background-color: #0d47a1;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="35" role="img" aria-label="logo">
                        <image width="35" xlink:href="static/img/logo.png"></image>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link fw-bold text-warning px-1">SIDOMU</a></li>
                    <li><a href="/home-doctor" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">My Schedule</a></li>
                    <li><a href="/info-doctor" class="nav-link px-2 text-white">User Settings</a></li>
                </ul>

                <div class="text-end">
                    <a href="/info-doctor" class="image nav-link px-2 text-white">
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="profilepic"
                            style="width:32px; height:32px;" class="rounded-circle">
                        Dr. {{ user_info.first_name }} {{ user_info.last_name }}
                    </a>
                </div>
            </div>
        </div>
    </header>
    <header class="py-5 inner-header" style="background-color: #0d47a1;">
        <div class="container py-4 px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="fw-bold text-white">My Schedule</h1>
                        <p class="lead fw-normal text-white-50 mb-0">prepare everything before you accept or decline the
                            appointment</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="py-5">
        <div class="container px-5 mt-5">
            <div class="row gx-3" id="app-box">
            </div>
        </div>
    </section>
    <footer class="bg-dark py-4 copyright-footer" style="margin-top: 150px;">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright © <span class="fw-bold text-warning">SIDOMU</span> 2023
                    </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="/home-doctor">Home</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="#">My Schedule</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/info-doctor">User Settings</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>