<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <style>
        body {
            background: rgb(209, 204, 204);
        }

        .form-control:focus {
            box-shadow: none;
            border-color: blue;
        }

        .profile-button {
            background: blue;
            box-shadow: none;
            border: none;
        }

        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: blue;
            color: #fff;
            cursor: pointer;
        }
    </style>
    <script>
        function sign_out() {
            $.removeCookie("mytoken2", { path: "/" });
            alert("Signed Out!!")
            window.location.href = "/";
        }
    </script>
</head>

<body>
    <header class="p-3" style="background-color: #0d47a1;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="35" role="img" aria-label="logo">
                        <image width="35" xlink:href="static/img/logo.png"></image>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link fw-bold text-warning px-1">SIDOMU</a></li>
                    <li><a href="/home-doctor" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/appointment-patient" class="nav-link px-2 text-white">My Schedule</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">User Settings</a></li>
                </ul>

                <div class="text-end">
                    <a href="/info-doctor/{{ user_info.email }}" class="image nav-link px-2 text-white">
                        <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="profilepic"
                            style="width:32px; height:32px;" class="rounded-circle">
                        Dr. {{ user_info.first_name }} {{ user_info.last_name }}
                    </a>
                </div>
            </div>
        </div>
    </header>
    <header class="py-5 inner-header" style="background-color: #0d47a1;">
        <div class="container py-4 px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="fw-bold text-white">User Info</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Make sure all your data are legit</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="image d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    style="width:150px; height:150px;"  src="/static/{{ user_info.profile_pic_real }}"><span class="font-weight-bold">{{
                    user_info.first_name }} {{ user_info.last_name }}</span><span class="text-black-50">{{
                    user_info.email }}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Info</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label>
                            <p>
                                {{ user_info.first_name }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">Last Name</label>
                            <p>
                                {{ user_info.last_name }}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Mobile Number</label>
                            <p>
                                {{ user_info.phone_number }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">Specialist</label>
                            <p>
                                {{ user_info.specialist }}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels fw-bold">Education</label>
                        </div>
                        <div class="col-md-4"><label class="labels">Year</label>
                            <p>
                                {{ user_info.education_year }}
                            </p>
                        </div>
                        <div class="col-md-4"><label class="labels">Degree</label>
                            <p>
                                {{ user_info.education_degree }}
                            </p>
                        </div>
                        <div class="col-md-4"><label class="labels">Institute</label>
                            <p>
                                {{ user_info.education_institute }}
                            </p>
                        </div>
                        <div class="col-md-4"><label class="labels">Year</label>
                            <p>
                                {{ user_info.education2_year }}
                            </p>
                        </div>
                        <div class="col-md-4"><label class="labels">Degree</label>
                            <p>
                                {{ user_info.education2_degree }}
                            </p>
                        </div>
                        <div class="col-md-4"><label class="labels">Institute</label>
                            <p>
                                {{ user_info.education2_institute }}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels fw-bold">Experience</label>
                        </div>
                        <div class="col-md-3"><label class="labels">Year</label>
                            <p>
                                {{ user_info.experience_year }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Department</label>
                            <p>
                                {{ user_info.experience_department }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Position</label>
                            <p>
                                {{ user_info.experience_position }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Hospital</label>
                            <p>
                                {{ user_info.experience_hospital }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Year</label>
                            <p>
                                {{ user_info.experience2_hospital }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Department</label>
                            <p>
                                {{ user_info.experience2_department }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Position</label>
                            <p>
                                {{ user_info.experience2_position }}
                            </p>
                        </div>
                        <div class="col-md-3"><label class="labels">Hospital</label>
                            <p>
                                {{ user_info.experience2_hospital }}
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels fw-bold">Address</label>
                        </div>
                        <div class="col-md-6"><label class="labels">Country</label>
                            <p>
                                {{ user_info.address_country }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">State/Region</label>
                            <p>
                                {{ user_info.address_stateregion }}
                            </p>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-danger" type="button"
                                onclick="sign_out()">Log
                                Out</button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                            Profile</span><a href="/edit-doctor"><button class="btn btn-primary profile-button"
                                type="button">Edit</button></a>
                    </div><br>
                    <div class="col-md-12"><label class="labels">Additional Details</label>
                        <p>
                            {{ user_info.additional_details }}
                        </p>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels fw-bold">Social Link</label>
                        </div>
                        <div class="col-md-6"><label class="labels">Twitter</label>
                            <p>
                                {{ user_info.twitter }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">Facebook</label>
                            <p>
                                {{ user_info.facebook }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">Linkedin</label>
                            <p>
                                {{ user_info.linkedin }}
                            </p>
                        </div>
                        <div class="col-md-6"><label class="labels">Youtube</label>
                            <p>
                                {{ user_info.youtube }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="bg-dark py-4 mt-auto copyright-footer">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright © <span class="fw-bold text-warning">SIDOMU</span> 2023
                    </div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="/home-doctor">Home</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="/appointment-doctor">My Schedule</a>
                    <span class="text-white mx-1">·</span>
                    <a class="link-light small" href="#">User Settings</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>