.btn-square-md {
    width: 120px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 50px !important;
    text-align: center;
    padding: 0px;
    font-size: 15px;
}

.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}

body {
    font-family: system-ui;
}